# Dependencies
node_modules/
frontend/node_modules/
FormFlow/backend/node_modules/

# Environment files
.env
frontend/.env
FormFlow/backend/.env

# Build
dist/
build/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db